.rating > input {
  display: none;
}

.rating label {
  cursor: pointer;
  transition: color 0.3s;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input:checked ~ label {
  color: #eee966;
}
